@import "@/assets/fontFamliy.css";

*{
    padding: 0;
    margin: 0;
    //默认字体poppins
    font-family: Poppins, sans-serif;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;

    --style-color: #57810D;
}

/* 公共的 continue 按钮 */
.continue-btn{
    display: flex;
    width: 165px;
    height: 52px;
    color: white;
    background-color: var(--style-color);
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
    > img{
        height: 24px;
        width: 24px;
    }
}