@import "@/assets/fontFamliy.css";

* {
    padding: 0;
    margin: 0;
    //默认字体poppins
    font-family: Poppins, sans-serif;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;

    --style-color: #57810D;
}

/* 公共的 continue 按钮,和page-con背景 */
.btn-container {
    display: flex;
    width: 100%;
    .continue-btn {
        display: flex;
        width: 165px;
        height: 52px;
        color: white;
        font-weight: 600;
        background-color: var(--style-color);
        font-size: 18px;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        box-sizing: border-box;
        cursor: pointer;

        >img {
            height: 24px;
            width: 24px;
        }
    }
    .continue-btn.disabled {
        background-color: #2E4507;
        cursor: not-allowed;
        opacity: 0.4;
        pointer-events: none;
    }
}

@media (max-width: 768px) {
    .select-page-con {
        margin-bottom: 88px;
    }

    .btn-container {
        position: fixed;
        height: 88px;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        padding: 15px 16px;
        display: flex;
        border-top: 1px solid rgb(57, 57, 57);
        background-color: rgb(30, 30, 30);

        .continue-btn {
            flex: 1;
            height: auto
        }
    }
}

// 文字页面样式模板
.text-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 40px;
        font-weight: 700;
        font-family: Laient, sans-serif;
    }

    .description {
        font-size: 20px;
        font-weight: 500;
        color: #AAAAAA;

        .white {
            color: #FFFFFF;
            font-weight: 600;
        }
    }

    @media (max-width: 600px) {
        .title {
            font-size: 28px;
        }

        .description {
            font-size: 16px;
        }
    }
}