@import "@/assets/fontFamliy.css";

* {
    padding: 0;
    margin: 0;
    //默认字体poppins
    font-family: Poppins, sans-serif;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;

    --style-color: #2E73E0;
}

/* 公共的 continue 按钮,和page-con背景 */
.btn-container {
    display: flex;
    width: 100%;
    .continue-btn {
        display: flex;
        width: 165px;
        height: 52px;
        color: white;
        font-weight: 600;
        background-color: var(--style-color);
        font-size: 18px;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        box-sizing: border-box;
        cursor: pointer;

        >img {
            height: 24px;
            width: 24px;
        }
    }
    .continue-btn.disabled {
        background-color: #2E4507;
        cursor: not-allowed;
        opacity: 0.4;
        pointer-events: none;
    }
}

@media (max-width: 768px) {
    .select-page-con {
        margin-bottom: 88px;
    }

    .btn-container {
        position: fixed;
        height: 88px;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        padding: 15px 16px;
        display: flex;
        border-top: 1px solid rgb(57, 57, 57);
        background-color: rgb(30, 30, 30);

        .continue-btn {
            flex: 1;
            height: auto
        }
    }
}

// 文字页面样式模板
.text-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 40px;
        font-weight: 700;
        font-family: Laien, sans-serif;
    }

    .description {
        font-size: 20px;
        font-weight: 500;
        color: #AAAAAA;

        .white {
            color: #FFFFFF;
            font-weight: 600;
        }
    }

    @media (max-width: 600px) {
        .title {
            font-size: 28px;
        }

        .description {
            font-size: 16px;
        }
    }
}

//预设时间选择器样式
.ant-picker {
    width: 501px;
    padding: 18px 24px;
    font-size: 20px;
    background-color: #3A3A3A;
    color: white;

    input {
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        &::placeholder {
            color: #969696;
        }
    }
    .ant-picker-suffix{ background-color: white }
    .ant-picker-dropdown{
        width: 100%;
    }
}

// 自定义checkbox样式
.checkbox-custom {
    position: relative;
    width: 1em;
    height: 1em;
    background: transparent;
    border: var(--border-width) solid #969696;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 24px;
    --border-width:2px;
    // 勾的宽高比
    --aspect-ratio: 2.6;
    // 勾的厚度
    --check-thickness:2px;
    // 勾的宽度
    --check-width: 0.2em;
    --check-height: calc(var(--aspect-ratio) * var(--check-width));
    //实际容器宽度
    --w:calc(1em - 2*var(--border-width));
    /* √2 ≈ 1.4142 */
    --g2: 1.4142;
    --k: 0.353553; /* = 1 / (2√2) */
    //--offset-x: calc(var(--check-width) * (var(--aspect-ratio) - 1) * var(--k));
    //元素在左下角旋转后，超出了容器部分，宽度为(g2 * check-width)/2,宽度偏移量为  (容器宽度/2 - g2 * check-width / 2 - (check-height - check-width)/(2*g2) )
    --offset-x: calc(
            (1 - var(--g2)/2) * var(--check-width) * -1
        + (var(--w)/2 - var(--check-width) * var(--g2) / 2 - (var(--check-height) - var(--check-width))/(2*var(--g2)))
    );
    // 高度偏移量应该为 (容器宽度/2 - g2 * check-width / 4) 最后减去边框，加上border的厚度
    --offset-y: calc((var(--w)/2 - var(--check-height) * var(--g2) / 4 ) - 2px/var(--g2));
    &::after {
        position: absolute;
        bottom: var(--offset-y);
        left: var(--offset-x);
        box-sizing: border-box;
        content: "";
        border: 2px solid var(--gou-color, white);
        border-left: 0;
        border-top: 0;
        height: calc(var(--aspect-ratio) * var(--check-width));
        width: var(--check-width);
        transform: rotate(45deg);
        transform-origin:100% 100%;
        opacity: 0;

        transition: all 0.2s;
    }
    &.active::after {
        opacity: 1;
    }
}
